@import "tailwindcss";
@import "preline/variants.css";
@source "../../node_modules/preline/dist/*.js";

/* Plugins */
@plugin "@tailwindcss/forms";

@theme {
    /* --color-atenea: #d2bad9; */
    --color-atenea: #efdcf4;
    --color-atenea-letter: #1c1881;
    --color-atenea-letter-lighter: #524fb5;
    --color-atenea-icon: #2f3973;
    --color-atenea-icon-hover: #5363c1;
    --color-atenea-icon-darker: #293260;
    --color-atenea-clear: #fffffe;
    --color-atenea-clear-darker: #fafafa;
    
}

html {
  scroll-behavior: smooth;
}

body {
    font-family: "Outfit", sans-serif;
}

.brand-name {
    font-family: "Dancing Script", cursive;
}

.g-recaptcha > div {
    transform: scale(0.95);
    transform-origin: center;
}

/* Valor para móviles (ejemplo) */
[id] {
  scroll-margin-top: 30px;
}

/* Valor para pantallas md o más grandes (ajusta el breakpoint si es necesario) */
@media (min-width: 768px) {
  [id] {
    scroll-margin-top: 40px; 
  }
}

/*
  Clase base que aplica las propiedades críticas de posicionamiento y transición.
*/
.toastify {
    padding: 12px 20px;
    color: #ffffff;
    display: inline-block;
    box-shadow: 0 3px 6px -1px rgba(0, 0, 0, 0.12),
        0 10px 36px -4px rgba(77, 96, 232, 0.3);
    /* background: -webkit-linear-gradient(315deg, #73a5ff, #5477f5);
    background: linear-gradient(135deg, #73a5ff, #5477f5); */
    position: fixed;
    opacity: 0;
    transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
    border-radius: 2px;
    cursor: pointer;
    text-decoration: none;
    max-width: calc(50% - 20px);
    z-index: 2147483647;
}

.toastify.on {
    opacity: 1;
}

.toast-close {
    background: transparent;
    border: 0;
    color: white;
    cursor: pointer;
    font-family: inherit;
    font-size: 1em;
    opacity: 0.4;
    padding: 0 5px;
}

.toastify-right {
    right: 15px;
}

.toastify-left {
    left: 15px;
}

.toastify-top {
    top: -150px;
}

.toastify-bottom {
    bottom: -150px;
}

.toastify-rounded {
    border-radius: 25px;
}

/* Estilo para el Toast de Éxito */
.toast-success {
    /* Usando los colores de tu botón de enviar */
    @apply bg-green-600 text-white font-medium rounded-lg shadow-lg;
}

/* Estilo para el Toast de Error */
.toast-error {
    /* Usando colores estándar para errores */
    @apply bg-red-600 text-white font-medium rounded-lg shadow-lg;
}
