<div
    class="max-w-7xl mx-auto grid grid-cols-1 md:grid-cols-2 gap-8 md:gap-10 lg:gap-16 items-center justify-center py-16 px-4 sm:px-6 lg:px-8"
>
    <div class="flex justify-center mb-8 md:mb-0">
        <img
            class="rounded-xl w-48 h-auto sm:w-64 md:w-80 lg:w-96 max-w-full object-cover"
            src="/images/owner.jpg"
            alt="Retrato de Karina Araya Osorio, dueña y fundadora de Atenea Tu Nuevo Estilo"
            loading="lazy"
        />
    </div>
    <div class="text-center md:text-left">
        <blockquote>
            <div class="relative z-10">
                <p
                    class="text-base font-bold italic text-atenea-letter-lighter leading-relaxed mb-4"
                >
                    Hola, soy Karina Araya Osorio, Ingeniera en Marketing.<br />
                    En mi búsqueda de nuevos horizontes profesionales, descubrí en
                    el rubro capilar un espacio lleno de sentido y propósito.
                </p>
                <p
                    class="text-base font-bold italic text-atenea-letter-lighter leading-relaxed mb-4"
                >
                    Este camino me permitió comprender que el cabello es mucho
                    más que una característica física: es una expresión profunda
                    de identidad, confianza y autoestima.
                </p>
                <p
                    class="text-base font-bold italic text-atenea-letter-lighter leading-relaxed mb-4"
                >
                    Así nace este emprendimiento, con una convicción clara:
                    <br />
                    Ayudarte a identificarte con tu cabello, conocerlo, cuidarlo
                    y valorarlo como parte esencial de ti misma.
                </p>
                <p
                    class="text-base font-bold italic text-atenea-letter-lighter leading-relaxed"
                >
                    Porque sentirte bien contigo comienza por reconocerte en
                    cada detalle. Tu cabello, tu identidad, es nuestra
                    prioridad.
                </p>
            </div>
        </blockquote>
    </div>
</div>