---
import Navigation from "../components/Navigation.astro";
import Slider from "../components/Slider.astro";
import History from "../components/History.astro";
import Services from "../components/Services.astro";
import Products from "../components/Products.astro";
import Form from "../components/Form.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Astro</title>
    </head>
    <body>
        <Navigation />
        <Slider />
        <History />
        <Services />
        <Products />
        <Form />
        <Footer />
    </body>

    <!-- Preline UI -->
    <!-- <script is:inline src="./assets/vendor/preline/dist/index.js"></script> -->
    <script>
        import "preline/dist/preline.js";
    </script>
</html>
