---
// src/pages/index.astro
import Navigation from "../components/Navigation.astro";
import Slider from "../components/Slider.astro";
import History from "../components/History.astro";
import Services from "../components/Services.astro";
import Products from "../components/Products.astro";
import Form from "../components/Form.astro";
import Footer from "../components/Footer.astro";
import Whatsapp from "../components/Whatsapp.astro";
import "@fontsource/outfit/300.css";
import "@fontsource/dancing-script";
import "../styles/global.css";
---

<html lang="es">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/png" href="/images/logo_png.png" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Atenea, Tu Nuevo Estilo</title>
    </head>
    <body data-hs-scrollspy="#navbar-nav" data-hs-scrollspy-offset="80">
        <Navigation />
        <Slider />

        <div id="about-us">
            <History />
        </div>
        <div id="services">
            <Services />
        </div>
        <div id="products">
            <Products />
        </div>
        <div id="contact">
            <Form />
        </div>

        <Footer />
        <Whatsapp />

        <script>
            // Se recomienda importar el script así para que Astro lo procese correctamente.
            import "preline/dist/preline.js";
        </script>
    </body>
</html>
