---
// ContactForm.astro
---

<!-- Contact Us -->
<div
    class="max-w-screen px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto bg-gradient-to-r from-[#efdcf4] -50% via-[#fafafa] 50% to-[#efdcf4] 150%"
>
    <div class="max-w-2xl lg:max-w-7xl md:max-w-5xl mx-auto">
        <div class="text-center">
            <h1 class="text-3xl font-bold text-atenea-letter sm:text-4xl">
                Contáctanos
            </h1>
            <p class="mt-1 text-atenea-letter-lighter">
                Estamos aquí para ayudarte con lo que necesites.
            </p>
        </div>

        <div class="mt-12 grid items-center lg:grid-cols-2 gap-6 lg:gap-16">
            <!-- Card -->
            <div
                class="flex flex-col border border-atenea-icon rounded-xl p-4 sm:p-6 lg:p-8"
            >
                <h2 class="mb-8 text-xl font-semibold text-atenea-letter">
                    Formulario de contacto
                </h2>

                <form id="contactForm" novalidate>
                    <div class="grid gap-4">
                        <!-- Grid -->
                        <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
                            <div>
                                <label for="name" class="sr-only">Nombre</label>
                                <input
                                    type="text"
                                    name="name"
                                    id="name"
                                    class="py-2.5 sm:py-3 px-4 block w-full border-atenea-icon rounded-lg sm:text-sm focus:border-atenea-icon-hover focus:ring-atenea-icon-hover disabled:opacity-50 disabled:pointer-events-none transition-colors"
                                    placeholder="Nombre"
                                    required
                                />
                                <div
                                    id="nameError"
                                    class="text-red-500 text-sm mt-1 hidden"
                                >
                                </div>
                            </div>

                            <div>
                                <label for="lastname" class="sr-only"
                                    >Apellido</label
                                >
                                <input
                                    type="text"
                                    name="lastname"
                                    id="lastname"
                                    class="py-2.5 sm:py-3 px-4 block w-full border-atenea-icon rounded-lg sm:text-sm focus:border-atenea-icon-hover focus:ring-atenea-icon-hover disabled:opacity-50 disabled:pointer-events-none transition-colors"
                                    placeholder="Apellido"
                                    required
                                />
                                <div
                                    id="lastnameError"
                                    class="text-red-500 text-sm mt-1 hidden"
                                >
                                </div>
                            </div>
                        </div>
                        <!-- End Grid -->

                        <div>
                            <label for="email" class="sr-only">Correo</label>
                            <input
                                type="email"
                                name="email"
                                id="email"
                                autocomplete="email"
                                class="py-2.5 sm:py-3 px-4 block w-full border-atenea-icon rounded-lg sm:text-sm focus:border-atenea-icon-hover focus:ring-atenea-icon-hover disabled:opacity-50 disabled:pointer-events-none transition-colors"
                                placeholder="Correo"
                                required
                            />
                            <div
                                id="emailError"
                                class="text-red-500 text-sm mt-1 hidden"
                            >
                            </div>
                        </div>

                        <div>
                            <label for="phone" class="sr-only">Teléfono</label>
                            <input
                                type="tel"
                                name="phone"
                                id="phone"
                                class="py-2.5 sm:py-3 px-4 block w-full border-atenea-icon rounded-lg sm:text-sm focus:border-atenea-icon-hover focus:ring-atenea-icon-hover disabled:opacity-50 disabled:pointer-events-none transition-colors"
                                placeholder="Teléfono"
                                required
                            />
                            <div
                                id="phoneError"
                                class="text-red-500 text-sm mt-1 hidden"
                            >
                            </div>
                        </div>

                        <div>
                            <label for="details" class="sr-only">Detalles</label
                            >
                            <textarea
                                id="details"
                                name="details"
                                rows="4"
                                class="py-2.5 sm:py-3 px-4 block w-full border-atenea-icon rounded-lg sm:text-sm focus:border-atenea-icon-hover focus:ring-atenea-icon-hover disabled:opacity-50 disabled:pointer-events-none transition-colors"
                                placeholder="Detalles"
                                required></textarea>
                            <div
                                id="detailsError"
                                class="text-red-500 text-sm mt-1 hidden"
                            >
                            </div>
                        </div>
                    </div>
                    <!-- End Grid -->

                    <div
                        class="flex items-center justify-center w-full py-2.5 sm:py-3 mt-4 border-atenea-icon rounded-lg bg-none"
                    >
                        <div
                            class="g-recaptcha"
                            data-sitekey={import.meta.env
                                .PUBLIC_RECAPTCHA_SITE_KEY}
                        >
                        </div>
                    </div>
                    <div
                        id="recaptchaError"
                        class="text-red-500 text-sm mt-1 hidden text-center"
                    >
                    </div>

                    <div class="mt-4 grid">
                        <button
                            type="submit"
                            id="submitBtn"
                            class="w-full py-3 px-4 inline-flex justify-center items-center gap-x-2 text-sm font-medium rounded-lg border border-transparent bg-atenea-icon text-white hover:bg-atenea-icon-hover focus:outline-hidden focus:bg-atenea-icon-darker disabled:opacity-50 disabled:pointer-events-none transition-colors"
                        >
                            <span id="submitText">Enviar</span>
                            <div
                                id="submitLoader"
                                class="animate-spin rounded-full h-4 w-4 border-b-2 border-white hidden"
                            >
                            </div>
                        </button>
                    </div>

                    <div class="mt-3 text-center">
                        <p class="text-sm text-atenea-letter-lighter">
                            Nos pondremos en contacto contigo lo antes posible.
                        </p>
                    </div>
                </form>
            </div>
            <!-- End Card -->

            <div class="divide-y divide-atenea-icon">
                <!-- Icon Block -->
                <div class="flex gap-x-7 py-6">
                    <svg
                        class="shrink-0 size-6 mt-1.5 text-atenea-icon"
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        ><path
                            d="M21.2 8.4c.5.38.8.97.8 1.6v10a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V10a2 2 0 0 1 .8-1.6l8-6a2 2 0 0 1 2.4 0l8 6Z"
                        ></path><path
                            d="m22 10-8.97 5.7a1.94 1.94 0 0 1-2.06 0L2 10"
                        ></path></svg
                    >
                    <div class="grow">
                        <h3 class="text-xl font-semibold text-atenea-letter">
                            Contáctanos por Email
                        </h3>
                        <p class="mt-1 text-md text-atenea-letter-lighter">
                            Si lo prefieres, puedes enviarnos un correo
                            electrónico y te responderemos lo antes posible.
                        </p>
                        <a
                            class="mt-2 inline-flex items-center gap-x-2 text-md font-bold text-atenea-letter-lighter hover:text-atenea-letter focus:outline-hidden focus:text-atenea-letter"
                            href="#"
                        >
                            ateanatunuevoestilo@gmail.com
                        </a>
                    </div>
                </div>
                <!-- End Icon Block -->

                <!-- Icon Block -->
                <div class="flex gap-x-7 py-6">
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        class="lucide lucide-phone-icon lucide-phone text-atenea-icon"
                        ><path
                            d="M13.832 16.568a1 1 0 0 0 1.213-.303l.355-.465A2 2 0 0 1 17 15h3a2 2 0 0 1 2 2v3a2 2 0 0 1-2 2A18 18 0 0 1 2 4a2 2 0 0 1 2-2h3a2 2 0 0 1 2 2v3a2 2 0 0 1-.8 1.6l-.468.351a1 1 0 0 0-.292 1.233 14 14 0 0 0 6.392 6.384"
                        ></path></svg
                    >
                    <div class="grow">
                        <h3 class="text-xl font-semibold text-atenea-letter">
                            Teléfono
                        </h3>
                        <p class="mt-1 text-md text-atenea-letter-lighter">
                            Nos puedes llamar o enviar un mensaje de texto para
                            cualquier consulta o asistencia.
                        </p>
                        <a
                            class="mt-2 inline-flex items-center gap-x-2 text-md font-bold text-atenea-letter-lighter hover:text-atenea-letter focus:outline-hidden focus:text-atenea-letter"
                            href="#"
                        >
                            +56 9 1234 5678
                        </a>
                    </div>
                </div>
                <!-- End Icon Block -->

                <!-- Icon Block -->
                <div class="flex gap-x-7 py-6">
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        class="lucide lucide-map-pin-house-icon lucide-map-pin-house text-atenea-icon"
                        ><path
                            d="M15 22a1 1 0 0 1-1-1v-4a1 1 0 0 1 .445-.832l3-2a1 1 0 0 1 1.11 0l3 2A1 1 0 0 1 22 17v4a1 1 0 0 1-1 1z"
                        ></path><path
                            d="M18 10a8 8 0 0 0-16 0c0 4.993 5.539 10.193 7.399 11.799a1 1 0 0 0 .601.2"
                        ></path><path d="M18 22v-3"></path><circle
                            cx="10"
                            cy="10"
                            r="3"></circle></svg
                    >
                    <div class="grow">
                        <h3 class="text-xl font-semibold text-atenea-letter">
                            Ubicación
                        </h3>
                        <p class="mt-1 text-md text-atenea-letter-lighter">
                            Nos encontramos ubicados en la siguiente dirección:
                        </p>
                        <a
                            class="mt-2 inline-flex items-center gap-x-2 text-md font-bold text-atenea-letter-lighter hover:text-atenea-letter focus:outline-hidden focus:text-atenea-letter"
                            href="https://www.google.com/maps/place/Pasaje+Pedro+de+Vizcarra+46/@-32.565049,-71.268985,18z/data=!4m6!3m5!1s0x9689b30055a07a79:0x1d617332a69d4674!8m2!3d-32.5650493!4d-71.2689854!16s%2Fg%2F11xmw3875w?hl=es-419&entry=ttu&g_ep=EgoyMDI1MDcxMy4wIKXMDSoASAFQAw%3D%3D"
                        >
                            Pasaje Pedro Vizcarra #46, Aires de Catapilco,
                            Catapilco, Zapallar, Chile
                        </a>
                    </div>
                </div>
                <!-- End Icon Block -->
            </div>
        </div>

        <div class="mt-12 flex justify-center">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d999.6909394313758!2d-71.26955415042295!3d-32.56495692516998!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9689b30055a07a79%3A0x1d617332a69d4674!2sPasaje%20Pedro%20de%20Vizcarra%2046!5e0!3m2!1ses-419!2scl!4v1751697454045!5m2!1ses-419!2scl"
                class="w-2xl h-96 border-0 rounded-lg shadow-lg"
                allowfullscreen=""
                loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"
            >
            </iframe>
        </div>
    </div>
</div>

<!-- Scripts -->
<script
    type="text/javascript"
    src="https://cdn.jsdelivr.net/npm/@emailjs/browser@4/dist/email.min.js"
></script>
<script src="https://www.google.com/recaptcha/api.js" async defer></script>

<script>
    import "../js/contact-form.js";
</script>
<!-- End Contact Us -->
