<!-- Icon Blocks -->
<div
    class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto bg-atenea"
    id="about-us"
>
    <!-- Grid -->
    <div class="grid md:grid-cols-2 gap-12">
        <div class="lg:w-3/4">
            <h2 class="text-3xl text-atenea-letter font-bold lg:text-4xl">
                ¿Quienes somos?
            </h2>
            <p class="mt-3 text-atenea-letter text-justify">
                Atenea, Tu Nuevo Estilo, es una empresa de belleza integral
                capilar, especializada en todo lo relacionado con el cabello y
                la higiene correcta del cuero cabelludo, en donde damos
                soluciones a las problemáticas diarias, cómo el control de
                frizz, volúmen, resequedad del cabello, cómo también por Daños
                Químicos del cabello por procesos de tinturas, problemas con
                caída del cabello y daños por planchado del cabello. Damos
                solución a tus conflictos diarios con tu cabello, creando
                conciencia capilar.
            </p>
        </div>
        <!-- End Col -->

        <div class="space-y-6 lg:space-y-10">
            <!-- Icon Block -->
            <div class="flex gap-x-5 sm:gap-x-8">
                <!-- Icon -->
                <span
                    class="shrink-0 inline-flex justify-center items-center size-16 rounded-full border border-atenea-icon bg-atenea text-atenea-letter shadow-2xs mx-auto"
                >
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="36"
                        height="36"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="1"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        class="lucide lucide-book-open-icon lucide-book-open"
                        ><path d="M12 7v14"></path><path
                            d="M3 18a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1h5a4 4 0 0 1 4 4 4 4 0 0 1 4-4h5a1 1 0 0 1 1 1v13a1 1 0 0 1-1 1h-6a3 3 0 0 0-3 3 3 3 0 0 0-3-3z"
                        ></path></svg
                    >
                </span>
                <div class="grow">
                    <h3
                        class="text-base sm:text-lg font-semibold text-atenea-letter"
                    >
                        Misión
                    </h3>
                    <p class="mt-1 text-atenea-letter text-justify">
                        Atenea, Tu Nuevo Estilo, se dedica a la imagen personal
                        capilar y a cada necesidad de los clientes. Queremos
                        lograr que cada persona entienda que la salud capilar es
                        parte de la belleza innata de cada uno, potenciando el
                        autoestima personal y aceptación del cabello.
                    </p>
                </div>
            </div>
            <!-- End Icon Block -->

            <!-- Icon Block -->
            <div class="flex gap-x-5 sm:gap-x-8">
                <!-- Icon -->
                <span
                    class="shrink-0 inline-flex justify-center items-center size-16 rounded-full border border-atenea-icon bg-atenea text-atenea-letter shadow-2xs mx-auto"
                >
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="36"
                        height="36"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="1"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        class="lucide lucide-messages-square-icon lucide-messages-square"
                        ><path
                            d="M14 9a2 2 0 0 1-2 2H6l-4 4V4a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2z"
                        ></path><path
                            d="M18 9h2a2 2 0 0 1 2 2v11l-4-4h-6a2 2 0 0 1-2-2v-1"
                        ></path></svg
                    >
                </span>
                <div class="grow">
                    <h3
                        class="text-base sm:text-lg font-semibold text-atenea-letter"
                    >
                        Visión
                    </h3>
                    <p class="mt-1 text-atenea-letter text-justify">
                        Atenea tiene cómo visión lograr que los clientes logren
                        la conciencia capilar y generar el entendimiento entre
                        el daño y la reconstrucción capilar van de la mano para
                        poder hermosear cosméticamente de forma correcta el
                        cabello y en que situación se encuentra su cabello para
                        no dañar el cuero cabelludo de forma incorrecta
                        provocando daños irreversibles a la salud capilar.
                    </p>
                </div>
            </div>
            <!-- End Icon Block -->
        </div>
        <!-- End Col -->
    </div>
    <!-- End Grid -->
</div>
<!-- End Icon Blocks -->
