---
import products from "../data/products.json";
import ProductCard from "./cards/ProductCard.astro";
---

<!-- Card Blog -->
<div
    class="max-w-screen px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto bg-gradient-to-r from-[#efdcf4] -50% via-[#fafafa] 50% to-[#efdcf4] 150%"
>
    <!-- Title -->
    <div class="max-w-2xl mx-auto text-center mb-10 lg:mb-14">
        <h2
            class="text-2xl font-bold md:text-4xl md:leading-tight text-atenea-letter"
        >
            Productos
        </h2>
        <p class="mt-1 text-atenea-letter-lighter">
            Conoce algunos de los productos que tenemos para ofrecer
        </p>
    </div>
    <!-- End Title -->

    <!-- Grid -->
    <div class="grid sm:grid-cols-2 lg:grid-cols-3 gap-6">
        {products.map((product) => <ProductCard {...product} />)}
    </div>
    <!-- End Grid -->
</div>
