---
import AlisadoPhotonico from "./Services_Cards/Alisado_Photonico.astro"
import MasajeRulos from "./Services_Cards/Masaje_Rulos.astro"
import CorteCabello from "./Services_Cards/Corte_Cabello.astro"
---

<!-- Card Blog -->
<div class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
    <!-- Title -->
    <div class="max-w-2xl mx-auto text-center mb-10 lg:mb-14">
        <h2 class="text-2xl font-bold md:text-4xl md:leading-tight">
            Servicios
        </h2>
        <p class="mt-1 text-gray-600">
            Estos son algunos de los servicios que ofrecemos en Atenea.
        </p>
    </div>
    <!-- End Title -->
    <!-- Grid -->
    <div class="grid sm:grid-cols-2 lg:grid-cols-3 gap-6">
        <AlisadoPhotonico />
        <MasajeRulos />
        <CorteCabello
    </div>
    <!-- End Grid -->
</div>
<!-- End Card Blog -->
