<!-- Slider -->
<div class="px-4 sm:px-6 lg:px-8 py-10 bg-gradient-to-r from-[#efdcf4] -50% via-[#fafafa] 50% to-[#efdcf4] 150%">
    <div
        data-hs-carousel='{
      "loadingClasses": "opacity-0",
      "isInfiniteLoop": true
    }'
        class="relative"
    >
        <div
            class="hs-carousel relative overflow-hidden w-full h-100 md:h-[calc(100vh-106px)] bg-gray-100 rounded-2xl"
        >
            <div
                class="hs-carousel-body absolute top-0 bottom-0 start-0 flex flex-nowrap transition-transform duration-700 opacity-0"
            >
                <!-- Item -->
                <div class="hs-carousel-slide">
                    <div
                        class="h-100 md:h-[calc(100vh-106px)] flex flex-col bg-[url('https://images.unsplash.com/photo-1515377905703-c4788e51af15?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D')] bg-cover bg-center bg-no-repeat"
                    >
                        <div
                            class="mt-auto w-2/3 md:max-w-lg ps-5 pb-5 md:ps-10 md:pb-10"
                        >
                            <span class="block text-white">Cuidado capilar</span
                            >
                            <span class="block text-white text-xl md:text-3xl"
                                >Somos expertos en el cuidado de tu cabello
                            </span>
                        </div>
                    </div>
                </div>
                <!-- End Item -->

                <!-- Item -->
                <div class="hs-carousel-slide">
                    <div
                        class="h-100 md:h-[calc(100vh-106px)] flex flex-col bg-[url('https://images.unsplash.com/photo-1717160675332-1a8d1080ae3d?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D')] bg-cover bg-center bg-no-repeat"
                    >
                        <div
                            class="mt-auto w-2/3 md:max-w-lg ps-5 pb-5 md:ps-10 md:pb-10"
                        >
                            <span class="block text-white"
                                >Recuperación del cabello</span
                            >
                            <span class="block text-white text-xl md:text-3xl"
                                >Nos dedicamos a recuperar tu cabello
                                en caso de cualquier tipo de daño</span
                            >
                        </div>
                    </div>
                </div>
                <!-- End Item -->

                <!-- Item -->
                <div class="hs-carousel-slide">
                    <div
                        class="h-100 md:h-[calc(100vh-106px)] flex flex-col bg-[url('https://images.unsplash.com/photo-1727060664914-aef0785f51f0?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D')] bg-cover bg-center bg-no-repeat"
                    >
                        <div
                            class="mt-auto w-2/3 md:max-w-lg ps-5 pb-5 md:ps-10 md:pb-10"
                        >
                            <span class="block text-white">Productos</span>
                            <span class="block text-white text-xl md:text-3xl"
                                >Usamos los mejores productos del mercado para sanar tu cabello</span
                            >
                        </div>
                    </div>
                </div>
                <!-- End Item -->
            </div>
        </div>

        <!-- Arrows -->
        <button
            type="button"
            class="hs-carousel-prev hs-carousel-disabled:opacity-50 disabled:pointer-events-none absolute inset-y-0 start-0 inline-flex justify-center items-center w-12 h-full text-black hover:bg-white/20 rounded-s-2xl focus:outline-hidden focus:bg-white/20"
        >
            <span class="text-2xl" aria-hidden="true">
                <svg
                    class="shrink-0 size-3.5 md:size-4"
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    fill="currentColor"
                    viewBox="0 0 16 16"
                >
                    <path
                        fill-rule="evenodd"
                        d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"
                    ></path>
                </svg>
            </span>
            <span class="sr-only">Anterior</span>
        </button>

        <button
            type="button"
            class="hs-carousel-next hs-carousel-disabled:opacity-50 disabled:pointer-events-none absolute inset-y-0 end-0 inline-flex justify-center items-center w-12 h-full text-black hover:bg-white/20 rounded-e-2xl focus:outline-hidden focus:bg-white/20"
        >
            <span class="sr-only">Siguiente</span>
            <span class="text-2xl" aria-hidden="true">
                <svg
                    class="shrink-0 size-3.5 md:size-4"
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    fill="currentColor"
                    viewBox="0 0 16 16"
                >
                    <path
                        fill-rule="evenodd"
                        d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"
                    ></path>
                </svg>
            </span>
        </button>
        <!-- End Arrows -->
    </div>
</div>
<!-- End Slider -->
