<!-- Card -->
<div
    class="group flex flex-col h-full bg-white border border-gray-200 shadow-2xs rounded-xl"
>
    <div class="relative pt-[50%] sm:pt-[70%] rounded-xl overflow-hidden">
        <img
            class="size-full absolute top-0 start-0 object-cover group-hover:scale-105 group-focus:scale-105 transition-transform duration-500 ease-in-out"
            src="https://plus.unsplash.com/premium_photo-1669675935836-8ed23a3be37e?q=80&w=1976&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
            alt="Blog Image"
        />
    </div>
    <div class="p-4 md:p-6">
        <h3 class="text-xl font-semibold text-gray-800">Alisado Photonico</h3>
        <p class="mt-3 text-gray-500">
            Alisado capilar con tecnología de fotones, ideal para todo tipo de
            cabello.
        </p>
        <div
            id="hs-show-hide-collapse-heading-1"
            class="hs-collapse hidden w-full overflow-hidden transition-[height] duration-300"
            aria-labelledby="hs-show-hide-collapse"
        >
            <p class="text-gray-500 mt-3">
                En este servicio se usan productos específicos: Richee, Groove
                Profesional y Felps, todos registrados en el ISP Chile.
            </p>
            <p class="text-gray-500 mt-3">
                Esto resulta en un alisado inmediato donde preocuparse de
                planchar al día seguiente ya no será necesario.
            </p>
        </div>
        <p class="mt-2">
            <button
                type="button"
                class="hs-collapse-toggle inline-flex items-center gap-x-1 text-sm font-semibold rounded-lg border border-transparent text-blue-600 decoration-2 hover:text-blue-700 hover:underline focus:outline-hidden focus:underline focus:text-blue-700 disabled:opacity-50 disabled:pointer-events-none dark:text-blue-500 dark:hover:text-blue-600 dark:focus:text-blue-600"
                id="hs-show-hide-collapse-1"
                aria-expanded="false"
                aria-controls="hs-show-hide-collapse-heading-1"
                data-hs-collapse="#hs-show-hide-collapse-heading-1"
            >
                <span class="hs-collapse-open:hidden">Ver más</span>
                <span class="hs-collapse-open:block hidden">Ver menos</span>
                <svg
                    class="hs-collapse-open:rotate-180 shrink-0 size-4"
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                >
                    <path d="m6 9 6 6 6-6"></path>
                </svg>
            </button>
        </p>
    </div>
</div>
<!-- End Card -->
