<!-- Card -->
<div
    class="group flex flex-col h-full bg-white border border-gray-200 shadow-2xs rounded-xl"
>
    <div class="relative pt-[50%] sm:pt-[70%] rounded-xl overflow-hidden">
        <img
            class="size-full absolute top-0 start-0 object-cover group-hover:scale-105 group-focus:scale-105 transition-transform duration-500 ease-in-out"
            src="https://images.unsplash.com/photo-1580618672591-eb180b1a973f?q=80&w=2069&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
            alt="Blog Image"
        />
    </div>
    <div class="p-4 md:p-6">
        <h3 class="text-xl font-semibold text-gray-800">Corte de cabello</h3>
        <p class="mt-3 text-gray-500">
            Corte de cabello personalizado, adaptado a tu estilo y necesidades.
        </p>
    </div>
    <div class="mt-auto flex border-t border-gray-200">
        <a
            class="w-full py-3 px-4 inline-flex justify-center items-center gap-x-2 text-sm font-medium rounded-ee-xl bg-white text-gray-800 shadow-2xs hover:bg-gray-50 focus:outline-hidden focus:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none"
            href="#"
        >
            Ver más
        </a>
    </div>
</div>
<!-- End Card -->
